body {
    margin: 0;
    height: 7872px;
    .body__backgroung-top {
        position: absolute;
        z-index: -1;
        width: 1440px;
        top: 0;
        height: 3591px;
    }
    .body__backgroung-center {
        position: absolute;
        width: 1440px;
        height: 3969px;
        top: 3591px;
        z-index: -1;
    }
    .body__background-bottom {
        width: 1440px;
        height: 487px;
        background: rgba(161, 47, 177, 1);
        position: absolute;
        top: 7385px;
        z-index: -1;
    }
    .text {
        font-size: 25px;
        color: #fff;
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
    }
}