.btn {
    width: 278px;
    height: 57px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    --c: white;
    background: none;
    color: var(--c);
    font-size: 28px;
    border: 1px solid var(--c);
    border-radius: 30px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    margin-top: 44px;
    cursor: pointer;
    span {
        position: absolute;
        width: 25%;
        height: 100%;
        background-color: var(--c);
        transform: translateY(150%);
        border-radius: 50%;
        left: calc((var(--n) - 1) * 25%);
        transition: 0.5s;
        transition-delay: calc((var(--n) - 1) * 0.1s);
        z-index: -1;
    }
    &:hover {
        color: #000;
    }
    &:hover span {
        transform: translateY(0) scale(2);
    }
    span:nth-child(1) {
        --n: 1;
    }
    span:nth-child(2) {
        --n: 2;
    }
    span:nth-child(3) {
        --n: 3;
    }
    span:nth-child(4) {
        --n: 4;
    }
}