.info-smart-home {
    display: flex;
    justify-content: space-between;
    padding-left: 55px;
    padding-right: 98px;
    .info-smart-home__img {
        width: 551px;
        height: 390px;
        margin-top: 17px;
    }
    .info-smart-home__content {
        color: #fff;
        .info-smart-home__title {
            width: 688px;
            height: 64px;
            font-family: 'Space Grotesk', sans-serif;
            font-size: 88px;
            line-height: 66px;
            letter-spacing: 11px;
            word-spacing: 17px;
            margin: 0;
        }
        .info-smart-home__subtitle {
            width: 686px;
            height: 284px;
            font-size: 26px;
            font-family: 'Roboto', sans-serif;
            font-weight: 100;
            letter-spacing: 1px;
            margin: 0;
            line-height: 32px;
            padding-top: 85px;
            padding-bottom: 2px;
        }
    }
}